@import 'variable.scss';

/* Additional custom styles if needed */
body {
  background-color: #fff!important;
}
.app-container {
    max-width: 400px;
    margin: auto;
}
.app-logo {
    padding: 10px;
    border-radius: 10px;
    margin: 80px auto auto;
    text-align: center;
}

.app-button {
    width: 100%;
    margin-bottom: 10px;
    text-transform: initial;
}

.app-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.welcome-era {
    flex-direction: column;
    display: flex;
    height: 100%;
}

.welcome-box:hover {
    border: 1px solid $theme-color;
}

.welcome-box {
    box-shadow: none;
    padding: 20px;
    background-color: var(--bg-white);
    border-radius: var(--border-radius-base);
    border: 1px solid var(--border-color);
    margin: 0 0 20px 0;
    color: #000;
    display: block;
    position: relative;
}

.join-area {
    padding: 0 0 15px;
    margin: auto 0 0;
}
#itemCount {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
}


// add to cart
.menu-item {
    transition: background-color 0.5s ease;
    padding: 10px;
}
.menu-item.active {
    background-color: rgba(0, 128, 0, 0.3); /* Opaque green background */
}
.quantity-controls {
    display: none; /* Hide initially */
    align-items: center;

}
.quantity-controls button, .quantity-controls span {
    margin: 0 5px;
}
.add-to-cart {
    cursor: pointer;
    display: flex;
    align-items: center;
    i {
        margin-left: 5px;
    }
}
.remove-from-cart {
    
}
.menu-item.active {
    background-color: #fdfbf8;
    border: 1px solid #fea116;
    padding: 10px;
}

.cart-panel {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    border-radius: 10px;
    background-color: green;
    color: white;
    padding: 15px 10px;
    text-align: center;
    z-index: 100;
    margin: 0 auto;

}
.cart-panel:hover  {
color: white;
}
@media (min-width: 1068px) {
  .cart-panel {
  width: 50%;
  }
}
// .cart-content {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .cart-content p {
//     margin: 0;
//     padding-right: 10px;
// }
@media (max-width: 500px) {
    .nav-item {
        margin-bottom: 15px;
    }
}


// cart page styles
.cart-item, .menu-item {
    // border: 1px solid #dee2e6;
    border-radius: 5px;
    // margin-bottom: 15px;
    padding: 15px;
    position: relative;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    background-color: #f7f7f7;
  }
  .table-no-to-order {
    border: 1px dashed;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 25px;
    display: block;
  }
  .dismiss-icon {
    // position: absolute;
    // top: 5px;
    // right: 5px;
    cursor: pointer;
    color: #6c757d;
  }
  .quantity {
    display: inline;
    align-items: center;
    // margin-top: 10px;
  }
  .quantity button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .quantity button:hover {
    background-color: #fff;
    border: 1px solid #e08601!important;
    color: #e08601;
  }
  .quantity input {
    width: 40px;
    text-align: center;
    margin: 0 8px;
    height: 35px;
  }
  .total-section {
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    // border-top: 1.5px dashed #ccc !important;
    border: 0px;
  }
  @media (min-width:1100px) {
    .checkout-btn {
    min-width: 20%;
  }
  }
  .checkout-btn {
  
    margin-top: 20px;
    margin-left: 10px;
  }
  .veg-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    // background-color: green;
    border: 1.4px solid green;
    border-radius: 4px;
    margin-right: 5px;
  }
  .veg-icon::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    display: block;
    margin: 3px auto;
  }
  .non-veg-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    // background-color: red;
    border: 1.4px solid red;
    border-radius: 4px;
    margin-right: 5px;
    position: relative;
  }
  .non-veg-icon::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 2.5px;
    left: 3px;
    width: 0;
    text-align: center;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid red;
  }

 .custom-table {
  th, td {
    padding-left: 20px!important;
    padding-right: 20px!important;
  }
 }
 .dashboard {
  .border-left-info {
    border-left: .25rem solid #36b9cc !important;
}
.border-left-primary {
    border-left: .25rem solid #4e73df !important;
}
.border-left-success {
    border-left: .25rem solid #1cc88a !important;
}
.border-left-warning {
    border-left: .25rem solid #f6c23e !important;
}
.card {
    border: 0px solid;
    border-radius: 10px;
}

// .text-success {
//   color: #1cc88a !important;
// }
.text-primary-custm {
  color: #4e73df !important;
}
// .text-info {
//   color: #36b9cc !important;
// }
.text-warning {
  color: #f6c23e !important;
}
.text-gray-300 {
  color: #dddfeb !important;
}
.text-xs {
  font-size: .8rem;
}
 }
 .bg-grey {
  background-color: #f1f8ff !important;
}
 .form-control:focus {
  box-shadow: 0px 0px 0px 0px transparent;
 }
 .form-control:read-only {
  background-color: #ffffff!important;
 }
 #revenueChart {
  width: 100%; /* Responsive width */
  height: 300px;/* Desired height for the chart */
}

// theater page
.screen {
  background-color: #444;
  height: 50px;
  width: 100%;
  margin: 15px 0;
  text-align: center;
  line-height: 50px;
  color: white;
}
.seat {
  border: 1px solid #1ea83c;
  height: 26px;
  width: 26px!important;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1ea83c;
  font-size: 0.7em;
}
.seat.paymentreceived {
  color: #fff;
  background-color: #1ea83c !important;
  border-color: #1ea83c;
}
.seat.blank {
  visibility: hidden;
}
.seat.orderreceived {
  background-color: #fea116 !important;
  color: #fff;
  border-color: #fea116;
}
.seat:hover:not(.occupied) {
  background-color: #ccc;
}

.info {
  margin-top: 20px;
}
.info li {
  list-style-type: none;
  display: inline-flex;
  margin-right: 10px;
  align-items: center;
}
.info li .seat {
  display: inline-block;
  height: 20px;
  width: 20px !important;
}
.row-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0;
  max-width: 50px;
  min-width: 50px;
}
.row-label .label {
  font-weight: bold;
  margin-right: 10px;

}
.row.custom-theatre-row {
  flex-wrap: nowrap;
}
.cinema {
  perspective: 13px; /* Gives a 3D perspective to child elements */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.screen-3d {
  width: 200px;
  height: 35px;
  background-color: #e7f0fe;
  border: 1px solid #bed6fa;
  border-radius: 10px;
  box-shadow: 0px 3px 18px rgb(0 0 0 / 19%);
  transform: rotateX(10deg); /* Reduced X rotation for subtler effect */
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen-3d p {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 0 2px 5px rgba(255, 255, 255, 0.7);
  transform: translateZ(25px); /* Text appears to float above the screen */
}

.screen-3d::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent);
  border-radius: 10px;
  transform: translateZ(-8px); /* Adds depth behind the screen */
}

@media (max-width: 1068px) {
  .theatreView {
  overflow-x: auto;
  }
}
.brdr-bottom {
  border-bottom: 1.5px solid #fea116;
}
// convenience fee
// .info-icon-wrapper :hover .convenienceFeeNote {
// display: block!important;
// }     
// .convenienceFeeNote {
//   display: none!important;
// }      
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Show the tooltip above the icon */
  left: 50%;
  margin-left: -100px;
  
  /* Fade in effect */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}     
.bg-wrapper {
    min-height: calc(100vh - 80px);

}